@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.form-main {background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
 background-size: cover;
    height:50%;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

body {
    background-color: #629C44;
}

.form-main {
    width: 100%;
    float: left;
    padding-top: 0;
}

.form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
 }

.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    /*background-position: 8px 5px;*/
    /*background-position: 11px 8px;*/
    background-repeat: no-repeat;
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: white;
}

.button-submit {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: black solid 4px;
    cursor: pointer;
    background-color: #EFE647;
    color: #629C44;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.submit:hover {
    color: black;
}

.ease {
    width: 0;
    height: 74px;
    background-color: #fbfbfb;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.back-button {
    text-decoration: none;
    
}