@import url('https://fonts.googleapis.com/css?family=Laila:600|Padauk'); :root {
    font-family: 'Padauk', sans-serif;
    --main-font-color: #F4EB49; --second-color: #629C44; --border-color: white; }

body {
    max-width: 980px;
    margin: auto;
    background-color: var(--second-color);
}

h1, h2, h3, h4, h5,h6 {
    margin: 0;
    color: var(--main-font-color);
    font-family: 'Laila', serif;
    text-align: center;
}

header {
    background-image: url("../img/new-york-background.jpg");
    /*height: 150px;*/
    background-position: center center;
    background-size: cover;
}

header h1 {
    font-size: 3rem;
    font-family: 'Laila', serif;
}

header .navigation {
    /*   display: flex;
    align-items: center;
    justify-content: space-around;*/
    padding: 0;
    /*border: red 1px solid;*/
}

header nav .menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
    /*flex: 4;*/
}

/*header nav .search {
    flex: 2;
}*/
header nav .menu li {
    list-style-type: none;
}

header nav .menu a {
    text-decoration: none;
    color: var(--main-font-color);
    text-transform: uppercase;
    margin-right: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

header nav .menu a:hover {
    background-color: black;
}

header .right-panel {
    display: flex;
    justify-content: flex-end;
}

header .icons {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    display: inline-block;
    /*opacity: 0.9;*/
}

@media (min-width: 300px) {
    header nav .menu li {
        display: flex;
        flex-direction: column;
    }
}

main .direction-list article {
    border: 2px solid var(--border-color);
    margin: 10px;
}

main .product-list .region-card {
    border: 2px solid var(--border-color);
    padding: 10px;
}

.region-card img {
    display: block;
    width: 100%;
}

.region-card .button-container {
    display: flex;
    justify-content: space-around;
}

main .direction-list button {
    background-color: var(--main-font-color);
    color: var(--second-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 20px;
}

.direction-list {
    display: grid;
    grid-gap: 5px;
}

@media (min-width: 480px) {
    .direction-list {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 660px) {
    .direction-list {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 980px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
